*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #999999;
}
h1{
    text-align: center;
    font-size: 2.5rem;
    color: rgb(28, 28, 32);
    margin-top: 40px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.main_container{
    width: 60vw;
    padding: 40px;
    margin: 20px;
    border: 0.5px solid rgb(150, 150, 150);
    background-color: #222;
    border-radius: 5px;
    position: relative;
}
.title{
    font-size: 1.2em;
    font-weight: 800;
    color: #fff;
}
.content{
    margin-top: 10px;
    margin-left: 10px;
    color: #fff;
}
.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  margin-top: 100px;
}

.btn span {
  position: relative; 
  z-index: 1;
}
.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #202a5a;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
.flex_container{
  display: flex;

}
.upload{
  text-decoration: none;
  color: #171717;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  background-color: #c4c4c4;
  border-radius: 7px;
  position: absolute;
  right: 110px;
}
.delete{
  border: none;
  color: #171717;
  font-size: 15px;
  position: absolute;
  right: 25px;
  padding: 5px 10px 5px 10px;
  background-color: #c4c4c4;
  border-radius: 7px;
}
